	
	</div>  <!-- row -->
</div> <!-- container-fluid -->


	<section id="footer">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="block">
	                    <div class="footer-content">
	                        <h3>Share your ids!!</h3>
	                        <div class="social-icon">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                            <a href="#"><i class="fa fa-google"></i></a>
	                            <a href="#"><i class="fa fa-linkedin"></i></a>
	                        </div>
	                        <div class="support-link">
	                            <ul>
	                                <li><a href="#">Home</a></li>
	                                <li><a href="#">My Ids</a></li>
	                                <li><a href="#">Login</li>

	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div><!-- col-md-12 -->
	        </div><!-- .row -->
	    </div><!-- .container -->
	</section><!-- #footer -->

    </body>
</html>