<% include header %>

<link href="css/drop.css" rel="stylesheet" type="text/css"/>
<script src="js/drop.js"></script>


<div id="drop"></div>

<script type="text/javascript">  

	$(document).ready(function () 
	{
		$("#drop").drop({});
	});
</script>

<% include footer %>

