/* ==========================================================================
 *   Base styles
 * ==========================================================================
 */
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}

/*
1) Common Css
2) header
3) slider
4) Service
5) contant
6) Gallery
7) Contant-2
8) testimonial
9) Submit
10) footer

*/

/*=========================
    1) Common Css Start
===========================*/

a, a:active, a:focus, a:active {text-decoration:none !important}
img {max-width:100%}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin:0 0 15px;}
.clearfix{clear: both}

/*=========================
     Common Css End
===========================*/

/*=========================
  2)header Start
===========================*/

#header{padding: 40px 0px}
.block-left{}

#header .block-right{}
.contact-area{text-align: right; margin-top: 10px;}
.contact-area ul{margin: 0px; padding: 0px; list-style: none;}
.contact-area ul li{display: inline-block; margin-left: 40px; color:#3C3D42; font-size: 17px; font-family: 'Raleway', sans-serif; font-weight: 400px; }
.contact-area ul li i{margin-right: 10px; font-size: 18px; }


.nav-logo{margin-right: 30px; margin-top: 12px}
.navbar-default{background: none; border: none;}
.navbar-default .navbar-nav > li > a{ color:#8B9090;font-family: 'Raleway', sans-serif; font-weight: 400px; font-size: 14px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background: none; color:#3C3D42}



/*
 * header close
 */

/*
 * footer start
 */

#footer{background: #2D312F;text-align: center; padding-top: 25px; padding-bottom: 25px;}
#footer .block{}
.footer-content{}
.footer-content h3{color:#8C9494; font-size: 24px; font-family: 'Raleway', sans-serif; font-weight: 400;margin: 0px; padding-bottom: 30px;}
.social-icon{}
.social-icon a{margin-right: 10px;}
.social-icon a i{background: #5d6461;
border-radius: 500px;
color: #2d312f;
font-size: 20px;
height: 42px; 
padding-top: 11px;
width: 42px;}
.support-link{padding-top: 25px;}
.support-link ul{margin:0px; padding: 0px; list-style: none;}
.support-link ul li{display: inline-block; padding: 0px 10px}
.support-link ul li a{display: inline-block; color: #8C9494; font-size: 14px}
/*
 * footer end
 */
